*{
	font-family: "Times New Roman";
	font-weight: normal;
	color: black;
	text-decoration:none;
	margin: 0;
	list-style: none;
	padding: 0;
	font-weight: normal;
	cursor: default;
}
.hide{
	display: none;
}
header{
	height: 50px;
	padding:20px;
}
.fa-bars{
	color: rgba(0,0,0,.5);
	padding: 20px;
	font-size:20px;
	cursor: pointer;
	border: 1px solid white;
}
.fa-bars:hover{
	color: black;
}
.top-wrapper{
	text-align: center;
	padding-right: 20px;
}
.top-wrapper h1{
	font-size: 70px;
	margin-top: 205px;
	margin-bottom: 20px;
	text-shadow: 5px 5px 4px rgba(0,0,0,.3);
	transition: text-shadow 0.3s;
}
.top-wrapper h1:active{
	text-shadow: 5px 5px 4px rgba(0,0,0,0);
}
.second-container{
	display: none;
}
.btn{
	background-color: none;
	display: inline-block;
	width: 150px;
	height: 50px;
	line-height: 50px;
	border: 1px solid white;
	box-shadow: 0px 0px 5px rgba(0,0,0,.3);
	color:rgba(0,0,0,.6);
	transition: 0.4s;
	cursor: pointer;
}
.btn:hover{
	border: 1px solid rgba(0,0,0,1);
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
	color: rgba(0,0,0,1);
}
.btn:active{
	
}
.MEN{
	margin-right: 20px;
}
.second-container{
	background-color: #f7f7f7;
	height: 1000px;
}
footer{
	display: none;
	width: 100vw;
	height: 50px;
	position: absolute;
	bottom: 0;
	box-shadow: 0px 0px 4px rgba(0,0,0,.3);
	text-align: center;
	
}
footer li{
	width:25%;
	float: left;
	margin: 0 auto;
	font-size: 35px;
	line-height: 50px;
	cursor: default;
}
footer i{
	color: rgba(0,0,0,.3);
	cursor: pointer;
	
}
footer i:hover{
	color: black;
	text-shadow: 4px 4px 5px rgba(0,0,0,.3);
}
footer i:active{
	text-shadow: 4px 4px 5px rgba(0,0,0,0);
}
@media(max-width: 670px){
	header{
		height: 0;
		padding: 0px; 
	}
	.top-wrapper{
		padding-right: 0px;
		height: 250px;
	}	
	.top-wrapper h1{
		font-size: 55px;
		margin-bottom: 20px;
		text-shadow: 5px 5px 4px rgba(0,0,0,.3);
		transition: text-shadow 0.3s;
	}
	.second-container{
		display: block;
	}
	.category-container ul{
		display: flex;
		flex-wrap: wrap;
	}
	.category-container li{
		width: 50%;
		height: 200px;
		background-image: url(img0.jpg);
		background-size: cover;
		opacity: .9;
		color: white;
		text-align: center;
		line-height: 200px;
		cursor: pointer;
	}

}















